.landing-container {
    width: 60%;
    height: 400px;
    position: absolute;
    top: 50%;
    background-color: black;
    opacity: .85;
}

/* p {
    font-family: "font-family:monospace";
} */

span.clickable:hover {
    background-color: #0069c2;
}